.faq {
  background-color: #6f7a6b;
  /* padding: 90px 20px; */
  padding-top: 100px;
}
.faq-image {
  display: flex;
  justify-content: center;
}
.faq-image img {
  width: 70%;
  padding: 20px;
}
.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 80%;
  margin-top: 40px;
  color: #fff;
}
.faq-content h2 {
  font-size: 34px;
  font-weight: 600;
}
.faq-accordion {
  padding: 10px;
  margin: 10px;
}
.faq-accordion button {
  border: none;
  outline: none;
  background: #6f7a6b;
  color: #fff;
  padding: 10px;
}
.faq-accordion .answer {
  padding: 10px;
}
