.showcase {
  margin-top: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  /* background-color: rgba(0, 128, 0, 0.548); */
}
.showcase-content {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px;
}
.showcase-content h1 {
  font-weight: 600;
  line-height: 40px;
  font-size: 2.5em;
  letter-spacing: -2px;
  text-transform: none;
}
.heading-stand {
  color: #6f7a6b;
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.356);
}
.showcase-content p {
  font-weight: 400;
}
.get-started-button {
  padding: 0.6em 4em;
  border: none;
  background-color: #6f7a6b;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  outline: none;
  text-transform: capitalize;
  box-shadow: 1px 1px 0.55rem rgba(0, 0, 0, 0.15);
}
.get-started-button:focus {
  outline: none;
  transition: all ease-in 0.5s;
  background-color: rgb(2, 66, 2);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.253),
    inset 0 -1px 0 rgba(0, 0, 0, 0.568);
  transform: translateY(-1px);
}
