.track-card {
  margin: 30px 10px 0 10px;
  display: flex;
  flex: 1 1 auto;
}

.track-card h5 {
  font-size: 22px;
}
.track-bio {
  margin: 10px 10px;
  text-decoration: none;
  color: #000;
}
.music-name {
  text-transform: capitalize;
}
.track-image {
  display: flex;
  justify-content: center;
  max-width: 100px;
}
.track-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: top;
}
.delete-icon {
  display: inline-flex;
  margin-top: 10px;
  left: 10px;
}
.delete-icon .icons {
  position: absolute;
  font-size: 15px;
  color: red;
}

/* new styling */
.music-description {
  /* width: 80px; */
}
.track-information {
  color: #030a00;
}
.track-information img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
}

.link-actions * {
  margin: 4px;
}
.link-actions .view {
  color: rgba(0, 128, 0, 0.37);
}

.link-actions .delete {
  color: red;
}
