.times {
  color: red;
  font-size: 18px;
  margin-top: 3px;
  cursor: pointer;
}
.card-music {
  display: flex;
  margin: 4px 0;
  justify-content: space-between;
  align-items: flex-start;
}
.card-music a {
  text-decoration: none;
  color: #6f7a6b;
}
.img-review img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10%;
}
.my-control-input {
  border: 1px solid #6f7a6b !important;
}
.link-preview {
  color: #6f7a6b;
}
